 @media screen and (max-width:480px) {
     .All_Products {
         gap: 10px;
         grid-template-columns: 1fr;
         padding-bottom: 15px;
     }
     .products-heading { 
        font-size: 21px;
        font-weight: 400;
        padding:  50px 0;
    }
 }