
@media screen and (max-width:790px) {
   
    .singleProduct-flex {
        flex-direction: column;
     }
     .singleProduct-img {
        width: 100%;
        min-width: auto; 
    }
    .singleProduct-text {
        padding: 20px 0 ;
        
    }
    
}


