:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}
 
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}